<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body style="font-family: 'Helvetica Neue', Helvetica, Arial, FreeSans, sans-serif;">
    <center>
        <h1>High Scores</h1>
        <h3>2018</h3>
        <table title='2014' border=1 frame=void rules=rows cellpadding=3>
            <col width="50">
            <col width="100">
            <tr>
                <th>Score</th>
                <th>Indicator</th>
                <th>Weights</th>
            </tr>
            <tr>
                <td>{{score18.4.0}}</td>
                <td>{{score18.4.1}}</td>
                <td>{{score18.4.2}}</td>
            </tr>
            <tr>
                <td>{{score18.3.0}}</td>
                <td>{{score18.3.1}}</td>
                <td>{{score18.3.2}}</td>
            </tr>
            <tr>
                <td>{{score18.2.0}}</td>
                <td>{{score18.2.1}}</td>
                <td>{{score18.2.2}}</td>

            </tr>
            <tr>
                <td>{{score18.1.0}}</td>
                <td>{{score18.1.1}}</td>
                <td>{{score18.1.2}}</td>
            </tr>
            <tr>
                <td>{{score18.0.0}}</td>
                <td>{{score18.0.1}}</td>
                <td>{{score18.0.2}}</td>
            </tr>
        </table>
        <h3>2017</h3>
        <table title='2014' border=1 frame=void rules=rows cellpadding=3>
            <col width="50">
            <col width="100">
            <tr>
                <th>Score</th>
                <th>Indicator</th>
                <th>Weights</th>
            </tr>
            <tr>
                <td>{{score17.4.0}}</td>
                <td>{{score17.4.1}}</td>
                <td>{{score17.4.2}}</td>
            </tr>
            <tr>
                <td>{{score17.3.0}}</td>
                <td>{{score17.3.1}}</td>
                <td>{{score17.3.2}}</td>
            </tr>
            <tr>
                <td>{{score17.2.0}}</td>
                <td>{{score17.2.1}}</td>
                <td>{{score17.2.2}}</td>
            </tr>
            <tr>
                <td>{{score17.1.0}}</td>
                <td>{{score17.1.1}}</td>
                <td>{{score17.1.2}}</td>
            </tr>
            <tr>
                <td>{{score17.0.0}}</td>
                <td>{{score17.0.1}}</td>
                <td>{{score17.0.2}}</td>
            </tr>
        </table>
        <h3>2019</h3>
        <table title='2016' border=1 frame=void rules=rows cellpadding=3>
            <col width="50">
            <col width="100">
            <tr>
                <th>Score</th>
                <th>Indicator</th>
                <th>Weights</th>
            </tr>
            <tr>
                <td>{{score16.4.0}}</td>
                <td>{{score16.4.1}}</td>
                <td>{{score16.4.2}}</td>
            </tr>
            <tr>
                <td>{{score16.3.0}}</td>
                <td>{{score16.3.1}}</td>
                <td>{{score16.3.2}}</td>
            </tr>
            <tr>
                <td>{{score16.2.0}}</td>
                <td>{{score16.2.1}}</td>
                <td>{{score16.2.2}}</td>
            </tr>
            <tr>
                <td>{{score16.1.0}}</td>
                <td>{{score16.1.1}}</td>
                <td>{{score16.1.2}}</td>
            </tr>
            <tr>
                <td>{{score16.0.0}}</td>
                <td>{{score16.0.1}}</td>
                <td>{{score16.0.2}}</td>
            </tr>
        </table>
        <h3>2015</h3>
        <table title='2015' border=1 frame=void rules=rows cellpadding=3>
            <col width="50">
            <col width="100">
            <tr>
                <th>Score</th>
                <th>Indicator</th>
                <th>Weights</th>
            </tr>
            <tr>
                <td>{{score15.4.0}}</td>
                <td>{{score15.4.1}}</td>
                <td>{{score15.4.2}}</td>
            </tr>
            <tr>
                <td>{{score15.3.0}}</td>
                <td>{{score15.3.1}}</td>
                <td>{{score15.3.2}}</td>
            </tr>
            <tr>
                <td>{{score15.2.0}}</td>
                <td>{{score15.2.1}}</td>
                <td>{{score15.2.2}}</td>

            </tr>
            <tr>
                <td>{{score15.1.0}}</td>
                <td>{{score15.1.1}}</td>
                <td>{{score15.1.2}}</td>
            </tr>
            <tr>
                <td>{{score15.0.0}}</td>
                <td>{{score15.0.1}}</td>
                <td>{{score15.0.2}}</td>
            </tr>
        </table>
        <h3>2014</h3>
        <table title='2014' border=1 frame=void rules=rows cellpadding=3>
            <col width="50">
            <col width="100">
            <tr>
                <th>Score</th>
                <th>Indicator</th>
                <th>Weights</th>
            </tr>

            <tr>
                <td>{{score14.4.0}}</td>
                <td>{{score14.4.1}}</td>
                <td>{{score14.4.2}}</td>
            </tr>

            <tr>
                <td>{{score14.3.0}}</td>
                <td>{{score14.3.1}}</td>
                <td>{{score14.3.2}}</td>
            </tr>
            <tr>
                <td>{{score14.2.0}}</td>
                <td>{{score14.2.1}}</td>
                <td>{{score14.2.2}}</td>

            </tr>
            <tr>
                <td>{{score14.1.0}}</td>
                <td>{{score14.1.1}}</td>
                <td>{{score14.1.2}}</td>
            </tr>
            <tr>
                <td>{{score14.0.0}}</td>
                <td>{{score14.0.1}}</td>
                <td>{{score14.0.2}}</td>
            </tr>
        </table>
    </center>
</body>

</html>