<!doctype html>
<html lang="en" class="no-js">

<body style="font-family: 'Helvetica Neue', Helvetica, Arial, FreeSans, sans-serif;">
    <center>
        <h1>NCAA Bracket Predictor</h1>
        <form action="bracket" method="get">
            <label for="yearSelect">Choose year</label>
            <select type="text" id="yearSelect" name="yearSelect">
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
            </select>
            <!-- select multiple -->
            <input type="submit" value="Generate Bracket">
            <input type="reset" value="Reset">

            <h3>Select indicators below:</h3>
            <table border=1 frame=void rules=rows cellpadding=3>
                <col width="50">
                <col width="100">
                <tr>
                    <th>&nbsp</th>
                    <th>Acronym</th>
                    <th>Indicator</th>
                    <th>Weights</th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i1" name="i1" />&nbsp;</td>
                    <td>G</td>
                    <td>Games</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j1" name="j1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i2" name="i2" />&nbsp;</td>
                    <td>W</td>
                    <td>Wins</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j2" name="j2">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i3" name="i3" />&nbsp;</td>
                    <td>L</td>
                    <td>Losses</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j3" name="j3">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i4" name="i4" />&nbsp;</td>
                    <td>Eff</td>
                    <td>Efficiency</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j4" name="j4">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i5" name="i5" />&nbsp;</td>
                    <td>FGM</td>
                    <td>Field Goals Made</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j5" name="j5">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i6" name="i6" />&nbsp;</td>
                    <td>FG%</td>
                    <td>Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j6" name="j6">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i7" name="i7" />&nbsp;</td>
                    <td>eFG%</td>
                    <td>Effective Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j7" name="j7">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i8" name="i8" />&nbsp;</td>
                    <td>FGA</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j8" name="j8">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i9" name="i9" />&nbsp;</td>
                    <td>FGM3</td>
                    <td>Three Point Field Goals Made</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j9" name="j9">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i10" name="i10" />&nbsp;</td>
                    <td>FG3%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j10" name="j10">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i11" name="i11" />&nbsp;</td>
                    <td>FGA3</td>
                    <td>Three Point Field Goals Attempted</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j11" name="j11">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i12" name="i12" />&nbsp;</td>
                    <td>FTM</td>
                    <td>Free Throws Made</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j12" name="j12">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i13" name="i13" />&nbsp;</td>
                    <td>FT%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j13" name="j13">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i14" name="i14" />&nbsp;</td>
                    <td>FTA</td>
                    <td>Free Throws Attempted</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j14" name="j14">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i15" name="i15" />&nbsp;</td>
                    <td>OR</td>
                    <td>Offensive Rating</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j15" name="j15">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i16" name="i16" />&nbsp;</td>
                    <td>ORB%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j16" name="j16">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i17" name="i17" />&nbsp;</td>
                    <td>DR</td>
                    <td>Defensive Rating</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j17" name="j17">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i18" name="i18" />&nbsp;</td>
                    <td>DRB%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j18" name="j18">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i19" name="i19" />&nbsp;</td>
                    <td>Ast</td>
                    <td>Assists</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j19" name="j19">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i20" name="i20" />&nbsp;</td>
                    <td>TO</td>
                    <td>Turnovers</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j20" name="j20">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i21" name="i21" />&nbsp;</td>
                    <td>TOV%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j21" name="j21">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i22" name="i22" />&nbsp;</td>
                    <td>Stl</td>
                    <td>Steals</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j22" name="j22">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i23" name="i23" />&nbsp;</td>
                    <td>Blk</td>
                    <td>Blocks</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j23" name="j23">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i24" name="i24" />&nbsp;</td>
                    <td>PF</td>
                    <td>Points For</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j24" name="j24">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i25" name="i25" />&nbsp;</td>
                    <td>OFGM</td>
                    <td>Opponent Field Goals Made</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j26" name="j26">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i27" name="i27" />&nbsp;</td>
                    <td>OFGA</td>
                    <td>Opponent Field Goals Attempted</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j27" name="j27">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i28" name="i28" />&nbsp;</td>
                    <td>OFG%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j28" name="j28">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i29" name="i29" />&nbsp;</td>
                    <td>OeFG%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j29" name="j29">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i30" name="i30" />&nbsp;</td>
                    <td>OFGM3</td>
                    <td>Opponent Three Point Field Goals Made</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j30" name="j30">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i31" name="i31" />&nbsp;</td>
                    <td>OFGA3</td>
                    <td>Opponent Three Point Field Goals Attempted</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j31" name="j31">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i32" name="i32" />&nbsp;</td>
                    <td>OFG3%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j32" name="j32">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i33" name="i33" />&nbsp;</td>
                    <td>OFTM</td>
                    <td>Opponent Free Throws Made</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j33" name="j33">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i34" name="i34" />&nbsp;</td>
                    <td>OFTA</td>
                    <td>Opponent Free Throws Attempted</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j34" name="j34">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i35" name="i35" />&nbsp;</td>
                    <td>OFT%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j35" name="j35">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i36" name="i36" />&nbsp;</td>
                    <td>OOR</td>
                    <td>Opponent Offensive Rating</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j36" name="j36">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i37" name="i37" />&nbsp;</td>
                    <td>OORB%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j37" name="j37">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i38" name="i38" />&nbsp;</td>
                    <td>ODR</td>
                    <td>Opponent Defensive Rating</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j38" name="j38">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i39" name="i39" />&nbsp;</td>
                    <td>ODRB%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j39" name="j39">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i40" name="i40" />&nbsp;</td>
                    <td>OAst</td>
                    <td>Opponent Assists</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j40" name="j40">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i41" name="i41" />&nbsp;</td>
                    <td>OTO</td>
                    <td>Opponent Turnovers</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j41" name="j41">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="42" name="i42" />&nbsp;</td>
                    <td>OTOV%</td>
                    <td>Three Point Field Goal Percentage</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j42" name="j42">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i43" name="i43" />&nbsp;</td>
                    <td>OStl</td>
                    <td>Opponent Steals</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j43" name="j43">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i44" name="i44" />&nbsp;</td>
                    <td>OBlk</td>
                    <td>Opponent Blocks</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j44" name="j44">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i45" name="i45" />&nbsp;</td>
                    <td>OPF</td>
                    <td>Opponent Points For</td>
                    <td>
                        <input type="range" min="1" max="100" value="1" class="slider" id="j45" name="j45">
                    </td>
                </tr>
            </table>
        </form>

        <center>
</body>

</html>