<!doctype html>
<html lang="en" class="no-js">

<body style="font-family: 'Helvetica Neue', Helvetica, Arial, FreeSans, sans-serif;">
    <center>
        <h1>NCAA Bracket Predictor</h1>
        <h4>test checkbox loop index actual indicators</h4>
        <form action="bracket" method="get">
            <label for="yearSelect">Choose year</label>
            <select type="text" id="yearSelect" name="yearSelect">
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
            </select>
            <label for="selectInd">Select Indicators</label>
            <!-- select multiple -->
            <input type="submit" value="Generate Bracket">

            <h3>Indicators for input:</h3>
            <table border=1 frame=void rules=rows cellpadding=3>
                <col width="50">
                <col width="100">
                <tr>
                    <th>&nbsp</th>
                    <th>Acronym</th>
                    <th>Indicator</th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i1" name="i1" />&nbsp;</td>
                    <td>G</td>
                    <td>Games</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i2" name="i2" />&nbsp;</td>
                    <td>W</td>
                    <td>Wins</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i3" name="i3" />&nbsp;</td>
                    <td>L</td>
                    <td>Losses</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i4" name="i4" />&nbsp;</td>
                    <td>FGM</td>
                    <td>Field Goals Made</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i5" name="i5" />&nbsp;</td>
                    <td>FGA</td>
                    <td>Field Goals Attempted</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i6" name="i6" />&nbsp;</td>
                    <td>FG%</td>
                    <td>Field Goal Percentage</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i7" name="i7" />&nbsp;</td>
                    <td>FGM3</td>
                    <td>Three Point Field Goals Made</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i8" name="i8" />&nbsp;</td>
                    <td>FGA3</td>
                    <td>Three Point Field Goals Attempted</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i9" name="i9" />&nbsp;</td>
                    <td>FG3%</td>
                    <td>Three Point Field Goal Percentage</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i10" name="i10" />&nbsp;</td>
                    <td>FTM</td>
                    <td>Free Throws Made</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i11" name="i11" />&nbsp;</td>
                    <td>FTA</td>
                    <td>Free Throws Attempted</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i12" name="i12" />&nbsp;</td>
                    <td>FT%</td>
                    <td>Free Throw Percentage</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i13" name="i13" />&nbsp;</td>
                    <td>OR</td>
                    <td>Offensive Rating</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i14" name="i14" />&nbsp;</td>
                    <td>DR</td>
                    <td>Defensive Rating</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i15" name="i15" />&nbsp;</td>
                    <td>Ast</td>
                    <td>Assists</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i16" name="i16" />&nbsp;</td>
                    <td>TO</td>
                    <td>Turnovers</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i17" name="i17" />&nbsp;</td>
                    <td>Stl</td>
                    <td>Steals</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i18" name="i18" />&nbsp;</td>
                    <td>Blk</td>
                    <td>Blocks</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i19" name="i19" />&nbsp;</td>
                    <td>PF</td>
                    <td>Points For</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i20" name="i20" />&nbsp;</td>
                    <td>OFGM</td>
                    <td>Opponent Field Goals Made</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i21" name="i21" />&nbsp;</td>
                    <td>OFGA</td>
                    <td>Opponent Field Goals Attempted</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i22" name="i22" />&nbsp;</td>
                    <td>OFGM3</td>
                    <td>Opponent Three Point Field Goals Made</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i23" name="i23" />&nbsp;</td>
                    <td>OFGA3</td>
                    <td>Opponent Three Point Field Goals Attempted</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i24" name="i24" />&nbsp;</td>
                    <td>OFTM</td>
                    <td>Opponent Free Throws Made</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i25" name="i25" />&nbsp;</td>
                    <td>OFTA</td>
                    <td>Opponent Free Throws Attempted</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i26" name="i26" />&nbsp;</td>
                    <td>OOR</td>
                    <td>Opponent Offensive Rating</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i27" name="i27" />&nbsp;</td>
                    <td>ODR</td>
                    <td>Opponent Defensive Rating</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i28" name="i28" />&nbsp;</td>
                    <td>OAst</td>
                    <td>Opponent Assists</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i29" name="i29" />&nbsp;</td>
                    <td>OTO</td>
                    <td>Opponent Turnovers</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i30" name="i30" />&nbsp;</td>
                    <td>OStl</td>
                    <td>Opponent Steals</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i31" name="i31" />&nbsp;</td>
                    <td>OBlk</td>
                    <td>Opponent Blocks</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="i32" name="i32" />&nbsp;</td>
                    <td>OPF</td>
                    <td>Opponent Points For</td>
                </tr>
            </table>
        </form>

        <center>
</body>

</html>